body{
    background: white url("images/background.png");
}

/*overwritten bootstrap border-radius*/
.navbar{
  border-right: 0;
}

/*adding font*/

.navbar-brand{
  font-family: 'Satisfy', cursive;
}
